TELEGRAM_BOT_TOKEN=замени_меня
ALLOWED_USER_IDS=123456789
# можете ничего не указывать, тогда хоть какие чаты
ALLOWED_CHAT_IDS=
TARGETS_FILE=targets.txt
DB_PATH=stats.sqlite3
POLL_INTERVAL_SECONDS=5
TIMEZONE=UTC
MAX_CIDR_HOSTS=1024
PING_TIMEOUT_SECONDS=1.8
MAX_CONCURRENCY=50

# Сделано для хостинга Zertix.pw
# но мы не против, если вы будете использовать наш ресурс
